.header {
    height: 30rem;
    background: url('../images/header/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: FreeMono, monospace;
}

.moon_img {
    position: absolute;
    width: 10rem;
    right: 10rem;
    top: 20rem;
}

.helmet_img {
    position: absolute;
    width: 7rem;
    top: 3rem;
    left: 4rem;
    animation: rotate 10s linear infinite;
}

.saturn_img {
    position: absolute;
    width: 5rem;
    right: 2rem;
    top: 2rem;
}

.spaceman_img {
    position: absolute;
    width: 5rem;
    top: 25rem;
    left: 10rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.header_section_title {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title {
    font-size: 5rem;
}

.carousel-item.active {
    display: block;
}

.carousel_text {
    font-size: 2rem;
}

/* Media Query for Tablets */
@media (max-width: 1024px) {
    .moon_img {
        right: 5rem;
    }

    .helmet_img {
        width: 6rem;
        top: 3rem;
        left: 3rem;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .header {
        height: 40rem;
    }

    .moon_img {
        width: 8rem;
        top: 32rem;
        right: 0;
    }

    .helmet_img {
        width: 5rem;
        top: 2rem;
        left: 2rem;
    }

    .saturn_img {
        width: 4rem;
    }

    .spaceman_img {
        width: 4rem;
        top: 36rem;
        left: 3rem;
    }

    .header_section_title {
        width: 100%;
    }

    .header_title {
        font-size: 3rem;
    }

    .carousel_text {
        font-size: 1.5rem;
    }
}