.work {
    margin: 2rem 8rem;
}

.work_video {
    width: 80%;
    height: 35rem;
    cursor: pointer;
}

/* Media Query for Tablets */
@media (max-width: 1024px) {
    .work {
        margin: 2rem 6rem;
    }

    .work_video {
        width: 100%;
    }
}

/* Media Query for small tablets */
@media (max-width: 820px) {}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .work {
        margin: 1rem;
    }

    .work_video {
        height: auto;
    }
}