.header {
    height: 40rem;
    background: url('../resources/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}

.moon_img {
    position: absolute;
    width: 10rem;
    right: 10rem;
    bottom: 3.3rem;
}

.helmet_img {
    position: absolute;
    width: 8rem;
    top: 4rem;
    left: 5rem;
    animation: rotate 10s linear infinite;
    /* Apply the rotation animation */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.header_section_title {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title {
    font-size: 5rem;
}

.carousel-item.active {
    display: block;
}