.App {
  text-align: center;
}

.main_heading {
  font-size: 3rem;
  text-align: left;
}

.scroll_up_img {
  width: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

/* Media Query for Tablets */
@media (max-width: 1024px) {
  .main_heading {
    font-size: 2rem;
  }
}